# Uboot FIT support
#CONFIG_FIT=y
#CONFIG_FIT_VERBOSE=y
#CONFIG_OF_CONTROL=y
#CONFIG_FIT_SIGNATURE=y

#Needed for Uboot HAOS env
CONFIG_CMD_SAVEENV=y
#Kaslrseed support 
#CONFIG_CMD_KASLRSEED=y
#CONFIG_DM_RNG=y

CONFIG_USB_STORAGE=y
CONFIG_DOS_PARTITION=y
CONFIG_DISPLAY_BOARDINFO=y
# load u-boot from a different address that is not occupied by haos
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x2000
# pad so that loader starts at 0x400000 in the final image
CONFIG_SPL_PAD_TO=0x3f8000
# DFU was added in uboot 23.04 defconfig and breaks the build
# CONFIG_CMD_DFU is not set
# CONFIG_DFU_MMC is not set
# CONFIG_TOOLS_MKEFICAPSULE is not set
# required for booting using a script
CONFIG_BOOTMETH_SCRIPT=y
# useful for debugging boot issues
CONFIG_CMD_BOOTDEV=y
CONFIG_CMD_BOOTMETH=y
