# Uboot FIT support
#CONFIG_FIT=y
#CONFIG_FIT_VERBOSE=y
#CONFIG_OF_CONTROL=y
#CONFIG_FIT_SIGNATURE=y

# required for booting using a script
CONFIG_BOOTMETH_SCRIPT=y
# useful for debugging boot issues
CONFIG_CMD_BOOTDEV=y
CONFIG_CMD_BOOTMETH=y

#Needed for Uboot HAOS env
CONFIG_CMD_SAVEENV=y
#Kaslrseed support 
CONFIG_CMD_KASLRSEED=y
CONFIG_DM_RNG=y
